<div class="profile-box mx-auto">
  <div class="row">
    <div class="col-4 d-flex justify-content-center">
    <%= image_tag 'default_user.png' %>
    </div>
    <div class="col-8">
    <h1><%= @user.email %></h1>
    <h3>Member Since: <%= @user.created_at.strftime("%B %d, %Y") %></h3>
    <h4><%= @user.comments.count %> total comments </h4>
    <h4><%= @user.comments.where(rating: '5_stars').count %> total 5 star reviews</h4>
    </div>
  </div>
  <div class= "clear"></div>
</div>

<br />

<!--User Comments -->
<h1 class="text-center">My Comments</h1>
<br />
<div class="new-box mx-auto">
<div class="row">
  <% @user.comments.each do |comment| %>

    <div class="col-12 col-sm-6 text-center">
      <h2><%= link_to comment.place.name, place_path(comment.place) %></h2>
      <blockquote>
        <% if comment.humanized_rating.present? %>
          <b><%= comment.humanized_rating %></b> -
        <% end %>
        <p><%= comment.message %></p>
        <small class="comment-email"><%= comment.user.email %></small>
      </blockquote>

    </div>
  <% end %>
</div>
</div>

<!-- User Places -->
<br />
<h1 class="text-center">My Places</h1>
<br />
<div class="new-box mx-auto">
  <div class="row">
    <% @user.places.each do |place| %>
      <div class="col-12 col-sm-6 text-center places-spaces">
        <h2><%= link_to place.name, place_path(place) %> </h2>
        <h3><%= place.address %></h3>
        <h4><%= place.description %> </h4> 
      </div>
      <div class="col-12 col-sm-6">
        <% if place.photos.present? %>
          <%= image_tag place.photos.first.picture.url, class: 'img-fluid' %>
        <% end %>
        <hr />
      </div>

    <% end %>

  </div>
</div>