

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <%= image_tag 'Slider1.jpg', class: "d-block img-fluid" %>
      <div class="carousel-caption d-none d-md-block">
        <h2>Amazing eats, amazing people</h3>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'Slider2.jpg', class: "d-block img-fluid" %>
      <div class="carousel-caption d-none d-md-block">
        <h2>Find your new go-to</h3>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'slider3.jpg', class: "d-block img-fluid" %>
      <div class="carousel-caption d-none d-md-block">
        <h2>Food, and a view? Yes please.</h3>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- PAGINATION BUTTONS -->

<div class="d-flex justify-content-center page-buttons">
  <%= paginate @places %>
</div>

<!-- Place Display -->

<div class="container">
  <div class="row cards">
    <% @places.each do |place| %>

      <div class="booyah-box col-sm-4 col-12">
        <h1 class="place-name"><%= link_to place.name, place_path(place) %></h1>
        <i class="place-addy"><%= place.address %></i>
        <% if place.photos.present? %>
          <%= image_tag place.photos.first.picture.url, class: 'image-resize d-block img-fluid' %>
        <% end %>
        <br />
        <p class="place-disc"><%= place.description %></p>


        <!-- Last Comment -->
        <% if place.comments.present? %>
        <hr />
          <div class= "col-12">
            <blockquote>
              <% if place.comments.last.humanized_rating.present? %>
                <b class="rating-placement"><%= place.comments.last.humanized_rating %></b> -
              <% end %>
              <%= place.comments.last.message %>
              <small class="float-right">-<%= place.comments.last.user.email %></small>
            </blockquote>
          </div>
        <% end %>



      </div>
    <% end %>
  </div>
</div>

<div class="d-flex justify-content-center page-buttons">
  <%= paginate @places %>
</div> 
<div id="footer">
  <div class="container text-center">
    <div class="row">
      <div class="col-12 col-sm-6">
        <b>Contact</b>
        <br />
        joshua.bangle@gmail.com
      </div>
      <div class="col-12 col-sm-6 socials">
        <b>Social</b>
        <br />
        <%= link_to 'https://github.com/joshua-bangle' do %>
          <span class="fa fa-github-square fa-3x"></span>
        <% end %>
        <%= link_to 'https://twitter.com/KnoobLord' do %>
        <span class="fa fa-twitter-square fa-3x"></span>
        <% end %>
      </div>
    </div>
  </div>
</div>