<div class="new-box col-6 offset-3 text-center">
<h1>Enter Your Place Deets</h1>
<%= simple_form_for @place do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :description, :as => :text, :input_html => {:rows => 3} %>
  <br />
  <%= f.submit 'Create', class: 'btn btn-primary' %>
  <% end %>
</div> 