<div class="container">
  <div class="row">
  <div class="new-box col-5 ml-auto mr-auto">
    <div class="float-right">  
      <% if current_user && current_user == @place.user %>
        <%= link_to 'Edit', edit_place_path(@place), class: 'btn btn-primary edit-btn' %>
        <%= link_to 'Delete', place_path(@place), method: :delete, data: {confirm: 'Are you sure you want to delete this?'}, class: 'btn btn-danger' %>
      <% end %>  
    </div>
  <h1><%= @place.name %></h1>
  <i><%= @place.address %></i>
  <br /><br />
  <p><%= @place.description %></p>


  <% if @place.latitude.present? && @place.longitude.present? %>
      <script>

        function initMap() {
          var myLatLng = {lat: <%= @place.latitude %>, lng: <%= @place.longitude %>};

          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 18,
            center: myLatLng
          });

          var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: 'Hello World!'
          });
        }
      </script>
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgEPDSqAvZgF0NebRIZJNUvtmLwJrLNPs&callback=initMap">
      </script>
      <div id="map"></div>
  <% end %>
  <br />

                     <!--Comment Field-->  
    <% if current_user %>
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addComment">
        Add a comment!
      </button>
      <button type="button" class="btn btn-primary btn-lg float-right" data-toggle="modal" data-target="#photoModal">
        Add a photo!
      </button>
    <% else %>
      <h3>Log in to leave a comment!</h3>
    <% end %>
  </div>


  <!-- Photo Modal -->
  <div class="modal fade" id="photoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content new-box">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add a photo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= simple_form_for @photo, url: place_photos_path(@place) do |f| %>
            <%= f.input :picture %>
            <%= f.input :caption, label: 'Caption your photo!' %>
            
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit "Add your photo", class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>


  <!-- Photo Data -->

      <%if @place.photos.present? %>
        <div class="col-5 new-box picture-box mx-auto">
          <% @place.photos.each do |photo| %>

            <ul>
            <li ><%= image_tag photo.picture.url, class: 'image-resize' %>
            <p><%= photo.caption %></p>
          </li>
          <hr />
        </ul>

          <% end %>
        </div>
      <% end %>


</div>

</div>
<!-- Modal -->
<div class="modal fade" id="addComment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content new-box mx-auto">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Add a comment</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for @comment, url: place_comments_path(@place) do |f| %>
          <%= f.input :message, label: 'Leave a comment!' %>
          <%= f.input :rating, as: :select, collection: Comment::RATINGS %>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= f.submit "Add your Comment", class: 'btn btn-primary' %>
      </div>  
      </div>
        <% end %>
    </div>
  </div>
</div>

<% if @place.comments.present? %>
  <h1 class="text-center">Comments</h1>
  <div class= "comment-box mx-auto text-center">
  <% @place.comments.each do |comment| %> 
  
      <blockquote>
        <% if comment.humanized_rating.present? %>
          <b><%= comment.humanized_rating %></b> -
        <% end %>
        <%= comment.message %>
        <small> -<%= comment.user.email %></small>
      </blockquote>
      <hr/>
    <% end %>
  </div>
<% end %>
  <!-- Button trigger modal -->


